<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Delete Store</title>
</head>
<body>
<h2>Delete Store</h2>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>City</th>
        <th>Address</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>

    <tr>
        <td th:text="${store.id}"></td>
        <td th:text="${store.city}"></td>
        <td th:text="${store.address}"></td>
        <td th:text="${store.email}"></td>
    </tr>
    </tbody>
</table>

<!-- Provide a button to confirm the deletion -->
<form th:action="@{/deletestore/{id}(id=${store.id})}" method="post">
    <button type="submit">Confirm Delete</button>
</form>

<button>
    <a href="/stores">Cancel</a>
</button>

</body>
</html>
