<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Delete Stock</title>
</head>
<body>
<h2>Delete Stock</h2>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price (HUF)</th>
        <th>Quantity</th>
        <th>Store</th>
    </tr>
    </thead>
    <tbody>
    <!-- Display the details of the selected stock -->
    <tr>
        <td th:text="${stock.id}"></td>
        <td th:text="${stock.name}"></td>
        <td th:text="${stock.price}"></td>
        <td th:text="${stock.quantity}"></td>
        <td th:text="${stock.store}"></td>
    </tr>
    </tbody>
</table>

<!-- Provide a button to confirm the deletion -->
<form th:action="@{/deletestock/{id}(id=${stock.id})}" method="post">
    <button type="submit">Confirm Delete</button>
</form>

<button>
    <a href="/stocks">Cancel</a>
</button>
</body>
</html>
